@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

.header-Inicial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #dedede;
   /* background-color: rgba(17, 48, 7, 0.219); */
    backdrop-filter: blur(1px);
    padding: 12px;
    position: fixed; /* Ele fica preso no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;   /* Defina uma altura fixa para o seu header */
    z-index: 1000;  /* Garante que ele fique na frente de tudo */
    /* ... restnate do seu estilo (blur, cor, etc) */
}

a {
    text-decoration: none;
    color: rgb(24, 23, 23);
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 20px;
}

li:hover {
    color: #1C4F0D;
    border-bottom: 2px solid #4fa82b;
    transition: borderheader 1s ease;
}

.btn-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    background: linear-gradient(130deg, #4BAF27, #1F4910);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: -8px 4px 12px -2px rgba(0, 0, 0, 35%);
    cursor: pointer;
    overflow: hidden;
}

a {
    text-decoration: none;

}

button i {
    font-size: 18px;

}

button:hover i {
    transform: translateX(-130px);
    transition: setinha all .9s ease-in-out;
}

button p {
    font-size: 14px;
}

button:hover p {
    transform: translateX(10px);
}
