@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-de-fundo: #dedede;
    --verde-clarinho: #4CD825;
    --verde-claro: #3FB51F;
    --verde: #3AA61C;
    --verde-escurinho: #2A7714;
    --verde-escuro: #1E560F;
    --verdão: #1C4F0D;
}

body {
    background-color: var(--cor-de-fundo);
}

/* CSS específico da Home (Section Hero) */
.secao-hero {
    width: 100%;
    min-height: 100vh;
    /* Ocupa a tela inteira do notebook/monitor
    
    */
    background-image: url('image\ 18.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    /* Importante: compensa a altura do header para o card ficar no meio real */
    padding-top: 80px;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background: linear-gradient(130deg, rgba(250, 250, 250, 0.5), rgba(50, 50, 50, 1));*/

.container-centro {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #5180437c;
    backdrop-filter: blur(0.2px);
    padding: 80px 50px;
    border-radius: 24px;

}

.title {
    font-size: 75px;
    /* Ou o tamanho que você desejar */
    font-weight: bold;
    background: linear-gradient(130deg, #0b1f03 25%, #3fa818 65%);
    /* 2. Faz o fundo ficar "preso" apenas onde tem texto */
    -webkit-background-clip: text;
    background-clip: text;

    /* 3. Deixa a cor do texto transparente para o fundo aparecer através dele */
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-family: "Chakra Petch", sans-serif;
}

.btns {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 12px;
}

.btn-login {
    padding: 10px 45px;
    border-radius: 12px;
    border: 1px solid green;
    background-color: #d9d9d98e;
    outline: none;
}

/*Seção de card*/

.card-infos {
    /*height: 20vh;*/
    width: 1000;
    max-width: 100%;

}

.container-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.card {
    background-color: rgba(170, 243, 163, 0.74);
    padding: 50px;
    border-radius: 32px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25), 2px 2px 4px 2px rgba(105, 104, 104, 0.68) inset;
}

/*Interesses da empresa*/

.items {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.infos {
    text-align: center;
    border: 1px solid black;
    padding: 45px 18px;
}

.infos:hover {
    transform: scale(1.2);
}

.about{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 8% 0%;
}

.aboutUS {
    width: 50%;
}

.text-about {
    font-size: 28px;
    font-weight: 100;
    color: black;
}

/*Seção dos beneficios*/

.beneficios {
    padding: 10% 0%;
     display: flex;
    justify-content: center;
}

.sect-benefi {
    width: 50%;
}

.list-bene {
    flex-direction: column;
    margin-top: 55px;
    list-style-type: circle;
    margin-left: 25px;
    width: 60%;
    font-size: 24px;
    font-weight: 500;
}